.token-sheet .window-content nav.sheet-tabs a.item {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.sfrpg label.checkbox {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.sfrpg label.checkbox input[type="checkbox"] {
    margin-right: 0px;
}
.sfrpg.sheet.actor.starship .sheet-body .attributes .attribute .attribute-value label.notInstalled {
    white-space: nowrap;
    padding-right: 2px;
}
.sfrpg.sheet.actor .traits label {
    flex: 0 0 167px;
}